<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="addItems('top')">
        <ion-icon name="add"></ion-icon>TOP
      </ion-button>
      <ion-button (click)="addItems('last')">
        <ion-icon name="add"></ion-icon>BOTTOM
      </ion-button>
      <ion-button (click)="resetItem()">
        <ion-icon name="reorder-two"></ion-icon>INIT
      </ion-button>
      <ion-button (click)="mix()">
        <ion-icon name="alert"></ion-icon>MIX
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-virtual-scroll [items]="items" [approxItemHeight]="itemHeight()">
    <ion-item *virtualItem="let item">
      <ion-label>
        Item-{{item.name}}
      </ion-label>
      <ion-button slot="end" (click)="changeItems(item.id)">CHANGE</ion-button>
      <ion-button color="danger" slot="end" (click)="deleteItems(item.id)">DELETE</ion-button>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
